<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj kategorię</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styleCategory.css" th:href="@{/css/styleCategory.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/styleNavbar.css" th:href="@{/css/styleNavbar.css}">
</head>
<body>

<div class="container">
    <div class="form">

        <h1 class="signUpBtn">Podaj nową kategorię</h1>

        <form th:action="@{/admin/addCategory}" method="post" th:object="${category}">

            <div class="formGroup">
                <input type="text" th:field="*{name}" required maxlength="40" placeholder="Nazwa kategorii" autocomplete="off">>
            </div>

            <div class="formGroup">
                <button class="reg" type="submit" value="Add">Dodaj</button>
            </div>
            <div class="formGroup">
                <a class="home" th:href="@{main}">Powrót</a>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/js/app.js}" src="/static/js/app.js"></script>
</body>
</html>