<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styleSubCategory.css" th:href="@{/css/styleSubCategory.css}">
</head>
<body>
<form th:action="@{/admin/addSubCategory}" method="post" th:object="${subcategory}">
    <label>Wpisz nazwę podkategorii</label><br>
    <label>
        <input type="text" th:field="*{name}" required maxlength="40">
    </label><br>
    <label>Wpisz cene</label><br>
    <label>
        <input type="text" th:field="*{price}" required>
    </label><br>
    <label>Wybierz kategorie</label><br>
    <label>
        <select th:field="*{category}" required>
            <option value=""> --</option>
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}"></option>
        </select>
    </label><br>
    <button class="addsub" type="submit" value="Add">Dodaj</button>
    <a class="home" th:href="@{main}">Powrót</a>
</form>

</body>
</html>