<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/styleReservationListForm.css"
          th:href="@{/css/styleReservationListForm.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/styleNavbar.css" th:href="@{/css/styleNavbar.css}">
</head>
<body>
<th:block th:replace="fragments/navbar :: nav"/>
<table id="reservation">
    <thead>
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Usługa</th>
        <th>Data rezerwacji</th>
        <th></th>
    </tr>
    </thead>
    <tbody th:each="reservation : ${reservations}">
    <tr>
        <td th:text="${reservation.appUser.firstName}"></td>
        <td th:text="${reservation.appUser.lastName}"></td>
        <td th:text="${reservation.subCategory.name}"></td>
        <td th:text="${#temporals.format(reservation.dateTime, 'dd-MM-yyyy h:mm a')}"></td>
        <td><a class="accept" th:href="@{reservation/{reservationId} (reservationId = ${reservation.id})}">Akceptuj</a>
        </td>
    </tr>
    </tbody>
</table>
<script th:src="@{/js/app.js}" src="/static/js/app.js"></script>
</body>
</html>