<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zmiana rezerwacji</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/user/StaticReservationForm.css" th:href="@{/css/user/StaticReservationForm.css}"
          type="text/css">
    <script src="/static/js/scriptDateTimePicker.js" th:src="@{/js/scriptDateTimePicker.js}"></script>
</head>
<body>
<div class="container">
    <div class="form">

        <h1 class="title-name">Zmiana rezerwacji</h1>

        <form method="post" th:object="${editReservation}">

            <div class="formGroup">
                <select class="select" th:field="*{subCategory}" required>
                    <optgroup th:each="category : ${categoryList}" th:label="${category.name}">
                        <option th:each="subcategory : ${category.subCategoryList}" th:value="${subcategory.id}"
                                th:text="${subcategory.name}"></option>
                    </optgroup>
                </select>
            </div>

            <div class="formGroup">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' th:field="*{dateTime}" required class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>


            <div class="formGroup">

                <button class="reg1" type="submit" value="Rezerwacja">Zmiana rezerwacji</button>
            </div>
            <div class="formGroup">
                <a class="home" th:href="@{/}">Strona główna</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>