<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Beauty studio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="sylesheet">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">

</head>

<body>
<header>
    <div class="logo">
        Beauty Studio
    </div>
    <a href="#" class="hamburger" id="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <nav>
        <ul>
            <li><a class="active" href="">Home</a></li>
            <li><a href="">O nas</a></li>
            <li><a href="">Usługi</a></li>
            <li><a href="">Galeria</a></li>
            <li><a href="">Kontakt</a></li>
            <li><a sec:authorize="isAnonymous()" th:href="@{/login}">Zaloguj</a></li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Wyloguj</a></li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/reservation/addReservation}">rezerwuj</a></li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/reservation/userReservation}">Rezerwacje</a></li>
        </ul>
    </nav>
</header>

<script src="../static/js/nav.js" th:src="@{/js/nav.js}"></script>


</body>

</html>