<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Form</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="sylesheet">
  <link href="../static/css/form.css" rel="stylesheet" th:href="@{css/form.css}">
</head>

<body>
<div class="container">
  <div class="form">
    <div class="btn">
      <button class="loginBtn">Zaloguj</button>
    </div>
    <form th:action="@{/login}" action="/login" method="post" class="login">
      <div class="formGroup">
        <input type="email" name="email" id="email" placeholder="Email" autocomplete="off">
      </div>
      <div class="formGroup">
        <input type="password" name="password" id="password" placeholder="Hasło" autocomplete="off">
      </div>
      <div class="checkbox">
        <input type="checkbox" name="checkbox" id="checkbox">
        <span class="text">Zapamiętaj hasło na tym urządzeniu</span>
      </div>
      <div class="formGroup">
        <button type="submit" class="btn2">Zaloguj</button>
      </div>
    </form>
  </div>
</div>
</body>


</html>