<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="sylesheet">
    <link href="../static/css/form.css" rel="stylesheet" th:href="@{css/form.css}">
</head>

<body>
<div class="container">
    <div class="form">
        <div class="btn">
            <p class="signUpBtn">Zarejestruj się</p>
        </div>
        <form th:action="@{/api/v1/registration}" th:object="${user}" method="post" class="signUp">
            <div class="formGroup">
                <input type="text" name="name" th:field = "*{firstName}" id="user name" placeholder="Imię" autocomplete="off">
            </div>
            <div class="formGroup">
                <input type="text" name="lastname" th:field = "*{lastName}" id="last name" placeholder="Nazwisko" autocomplete="off">
            </div>
            <div class="formGroup">
                <input type="email" name="email" th:fiels="*{email}" id="EMAIL ID" placeholder="Email" autocomplete="off">
            </div>
            <div class="formGroup">
                <input type="tel" name="phoneNumber" pattern="(\+48)\d{9}" th:field="*{phoneNumber}" id="phone" placeholder="Numer telefonu" autocomplete="off">
            </div>
            <div class="formGroup">
                <input type="password" name="password" th:field="*{password}" id="passwordd" placeholder="Hasło" autocomplete="off">
            </div>
<!--            <div class="formGroup">-->
<!--                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Potwierdź hasło"-->
<!--                       autocomplete="off">-->
<!--                <span class="text-danger align-middle" th:if="${passError}" th:text="${passError}"></span>-->
<!--            </div>-->
            <div class="formGroup">
                <button type="submit" class="btn2">Zarejestruj</button>
            </div>
        </form>
    </div>
</div>


</body>


</html>