<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="sylesheet">
    <link href="../static/css/form.css" rel="stylesheet" th:href="@{css/form.css}">
</head>

<body>
<div class="container">
    <div class="form">
        <div class="btn">
            <button class="loginBtn" >Zaloguj</button>
            <button class="signUpBtn">Zarejestruj się</button>
        </div>

        <form th:action="@{/login}" method="post" class="login">
            <div class="formGroup">
                <input type="email" name="email" id="EMAIL IDd" placeholder="Email" autocomplete="off">
            </div>
            <div class="formGroup">
                <input type="password" name="password" id="password" placeholder="Hasło" autocomplete="off">
            </div>
            <div class="checkbox">
                <input type="checkbox" name="checkbox" id="checkbox">
                <span class="text">Zapamiętaj hasło na tym urządzeniu</span>
            </div>
            <div class="formGroup">
                <button type="submit" class="btn2">Zaloguj</button>
            </div>
        </form>

        <form th:action="@{/register}" th:object="${user}" method="post" class="signUp">
            <div class="formGroup">
                <input type="text" name="name" th:field = "*{firstName}" id="user name" placeholder="Imię" autocomplete="off">
            </div>
            <div class="formGroup">
                <input type="text" name="lastname" th:field = "*{lastName}" id="last name" placeholder="Nazwisko" autocomplete="off">
            </div>
            <div class="formGroup">
                <input type="email" name="email" th:fiels="*{email}" id="EMAIL ID" placeholder="Email" autocomplete="off">
            </div>
            <div class="formGroup">
                <input type="email" name="pemail" id="pemail" placeholder="Email" autocomplete="off">
                <span class="text-danger align-middle" th:if="${pemailError}" th:text="${pemailError}"></span>
            </div>
            <div class="formGroup">
                <input type="tel" name="phoneNumber" pattern="(\+48)\d{9}" th:field="*{phoneNumber}" id="phone" placeholder="Phone" autocomplete="off">
            </div>
            <div class="formGroup">
                <input type="password" name="password" th:field="*{password}" id="passwordd" placeholder="Hasło" autocomplete="off">
            </div>
            <div class="formGroup">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Potwierdź hasło"
                       autocomplete="off">
                <span class="text-danger align-middle" th:if="${passError}" th:text="${passError}"></span>
            </div>
            <div class="formGroup">
                <button type="submit" class="btn2">Zarejestruj</button>
            </div>
        </form>
    </div>
</div>

<script src="../static/js/form.js" th:src="@{/js/form.js} " type="text/javascript"></script>
</body>


</html>