<!doctype html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="sylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="../static/css/reservationForm.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="form">
        <div class="btn">
            <button class="signUpBtn">Rezerwacja</button>
            <button class="loginBtn">Moje rezerwacje</button>
        </div>
        <div class="formGroup">
            <form action="" class="signUp">
                <div class="formGroup">
                    <select class="select">
                        <optgroup>
                            <option></option>
                        </optgroup>
                    </select><br>
                </div>
            </form>
        </div>

        <div class="formGroup">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text'  required class="form-control" />
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>
        <div class="formGroup">
            <button class="btn2">Zarezerwuj</button>
        </div>

    </div>
</div>
</body>

<script src="../static/js/form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js">
</script>
<script src="../static/js/scriptDateTimePicker.js" th:src="@{/js/scriptDateTimePicker.js}"></script>

</html>