<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Sukces</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="sylesheet">
    <link href="../static/css/successConfirmationStyle.css" rel="stylesheet" th:href="@{css/successConfirmationStyle.css}">
</head>
<body>
<div class="container">
<h1>Twoje konto zostało aktywowane</h1>
    <h2>Powrót do strony głównej</h2>
</div>
</body>
</html>